<% content_for :body_class, "welcome" %>

<div class="site-wrapper">
  <div class="container cover-page">
      <div class= "jumbotron" align="center">
        <h1>Code Up</h1>
          <h3> Projects for new developers posted daily!</h3>
            <p class="lead"> Work with other junior devs on freelance projects<br />
              Build your portfolio<br />
              Help non-profits build their sites! </p>

          <%# if policy(Application.new).create? == false %>
          <%#= link_to "Sign up now", new_user_registration_path, class: "btn btn-lg btn-primary" %>
          <%# end %>
       

            <% if policy(Project.new).create? %>
              <%= link_to "Post a project", new_project_path, class: "btn btn-lg btn-primary" %>
            <% elsif  policy(UserProject.new).create? %>
              <%= link_to "Sign up for a project", projects_path, class: "btn btn-lg btn-primary" %><br /></h3>
            <% else %>
              <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-lg btn-primary" %>
              <%= link_to "Log In", new_user_session_path, class: "btn btn-lg btn-primary" %>
            <% end %>
            <br />
          </div>
        </div>
    </div>