<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> Thank you for signing up for "<%= @project.name %>" </h1>

    <p> The client contact info is the following <%= @project.contact_info %> </p>

    <p> <%= link_to "View project", project_url(@project) %></p>

    <p> The following people are on your development team </p>
        <table>
             <% @project_users.each do |user| %>
          <tr>
            <td>
              <%= user.email %>
            </td>
          </tr>
        </table>
      <% end %>



  </body>
</html>

