 <h1> Thank you for signing up for "<%= @project.name %>" </h1>

    <p> The client contact info is the following <%= @project.contact_info %> </p>

    <p> <%= link_to "View project", project_url(@project) %>
