<div class="container-fluid cover-container">


<h1 align="center">Projects</h1>
  <% if policy(Project.new).create? %>
<%= link_to ' + Create New Project', new_project_path, id: "project_new", remote: true, class: "btn btn-md btn-primary" %>
<% end %> 

<table class="table table-hover table-color" align="center" id="current_projects">
  <thead>
    <tr>
      <th>Due date</th>
      <th>Payment amount</th>
      <th>Name</th>
      <th>Description</th>
      <th>Contact info</th>
      <th>Developer type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @projects %>
  </tbody>
</table>
</div>

<br>

