/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require_tree .
 *= require_self 

 */


@import "bootstrap";

.user-info {
  margin-top: 5px;
}

.nav {
  margin-top: 5px;
  text-color: #000000;
}



.cover-page{

  background-color: #707070;
}

.cover-container{

  height: 100%;
  background-color: #C0C0C0 ;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.site-wrapper{
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner{
  display: table-cell;
  vertical-align: top;
}

.cover-margins{
  margin-right: auto;
  margin-left: auto;
}

html,
body {
  height: 100%;
  background-color: #A9A9A9;
}


.table-color{
  background-color: #7FFFD4
}
